<div class="row">
  <form class="col s12">
    <div class="row">
      <%= form_tag(admin_index_path, :method => "get", id: "search-form") do %>
        <div class="input-field col s10">
          <i class="material-icons prefix">search</i>
          <%= text_area_tag :search, params[:search], id: 'icon_prefix2', :class => 'materialize-textarea' %>
          <label for="icon_prefix2">Search by Email</label>
        </div>
        <div class="input-field col s2">
          <%= submit_tag "Search", :class => 'btn grey darken-4' %>
        </div>
      <% end %>
    </div>
  </form>
</div>