<main>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <h1>Create an Administrator</h1>
      </div>
      <div class="col l12">
        <%= render 'usertable' %>
      </div>
    </div>
  </div>
</main>