<ul class="collection">
	<% @campaigns.each do |campaign| %>
		<li class="collection-item avatar">
	      <%= image_tag campaign.feature.tiny.url, class: 'circle' %>
	      <span class="title"><b><%= link_to campaign.title, campaign_path(campaign) %></b></span>
	      <p><%= campaign.description %></p>
	      <a class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	<% end %>
</ul>