<% @post_collection.each do |post| %>
  <div class="col s12 m3 l3">
    <div class="card image-download">
      <div class="card-image">
        <img src="<%= post.image_url %>">
      </div>
      <div class="card-content black-text">
        <p><b>User Name: </b><%= post.full_name %></p>
        <p><b>User Email: </b><%= post.email_address %></p>
      </div>
      <div class="card-action center-align">
        <a class="btn red darken-4 add-to-zip" data-id="<%= post.id %>">NOT ADDED</a>
      </div>
    </div>
  </div>
<% end %>
