<% if @campaign.top_color && @campaign.bottom_color %>
    <style>
      .gradient {
        /*positioning*/
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        z-index: -9999;
        /*Gradient*/
        background: -webkit-linear-gradient(<%= @campaign.top_color %>, <%= @campaign.bottom_color %>); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(<%= @campaign.top_color %>, <%= @campaign.bottom_color %>); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(<%= @campaign.top_color %>, <%= @campaign.bottom_color %>); /* For Firefox 3.6 to 15 */
        background: linear-gradient(<%= @campaign.top_color %>, <%= @campaign.bottom_color %>); /* Standard syntax (must be last) */
      }
      .colored-text{
        color: <%= @campaign.text_color %>;
      }
    </style>
    <script type="text/javascript">
        var textShadow = '<%= @campaign.text_shadow %>'
    </script>
<% end %>
<% if user_admin(@user) %>
    <style>
        #campaign-feature{
            margin-top: 0;
        }
    </style>
<% end %>
