<main>
  <div class="container">
    <div class="row">
      <div class="col l8 offset-l2 left-align">
        <h1><strong>Oops...</strong></h1>
      </div>
      <div class="col l8 offset-l2 center-align">
        <h1 class="error-icon"><span class="fa-stack fa-lg">
          <i class="fa fa-user fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x red-text"></i>
        </span></h1>
      </div>
      <div class="col l8 offset-l2 right-align">      
        <h3>... something went wrong.</h3>
      </div>
      <div class="col l8 offset-l2 center-align">
        <p>If you are seeing this page and believe it to be an error, please contact the administrator or webmaster. Thank you.</p>
      </div>
    </div>
  </div>
</main>