<% if @campaign.top_color %>
	<script type="text/javascript">
		var topColor = "<%= @campaign.top_color %>";
	</script>
<% end %>
<% if @campaign.bottom_color %>
	<script type="text/javascript">
		var bottomColor = "<%= @campaign.bottom_color %>";
	</script>
<% end %>
<% if @campaign.text_color %>
	<script type="text/javascript">
		var textColor = "<%= @campaign.text_color %>";
	</script>
<% end %>
<% if @campaign.text_shadow %>
	<script type="text/javascript">
		var textShadow = "<%= @campaign.text_shadow %>";
	</script>
<% end %>
<%= simple_form_for @campaign, :class => "col s12" do |f| %>
	<div class="row">
		<label>Choose a Campaign Type</label>
		<%= f.input :campaign_type, :label => false, :collection => [['Both Media Types', 'Both Media Types'], ['Just Video', 'Just Video'], ['Just Photo', 'Just Photo']], :label_method => :last, :value_method => :first, :as => :materialize_radio_buttons, :checked => @campaign.campaign_type  %>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= f.input :duration_limit, label: false, :class => "validate", :wrapper => false %>
			<label for="campaign_title">Duration Limit in Seconds (only applies to videos)</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= f.input :title, label: false, :class => "validate", :wrapper => false %>
			<label for="campaign_title">Enter a Title</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= f.input :description, label: false, :class => "validate", :wrapper => false %>
			<label for="campaign_description">Enter a Description</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= f.input :call_to_action, label: false, :class => "validate", :wrapper => false %>
			<label for="campaign_call_to_action">Enter a Call To Action</label>
		</div>
	</div>
	<% if @campaign.feature? || @campaign.video? %>
		<div class="row">
			<div class="col l12">
				<label>Current Feature Preview</label>
			</div>
		</div>
		<div class="row">
			<div class="col l10 offset-l1 m12 s12">
				<div id="campaign-feature" class="card large hoverable">
					<% if @campaign.feature? %>
					<div id="feature" class="card-image center-card-image">
						<%= image_tag( @campaign.feature.url ) %>
					<% elsif @campaign.video? %>
					<div id="feature" class="card-image">
						<%= videojs_rails sources: { mp4: "#{@campaign.video.url}"}, setup: "{}", controls: true, width:"auto", height:"100%", poster: "#{@campaign.video.poster.url}", class: 'vjs-big-play-centered primary-player' %>
					<% end %>
						<span class="card-title campaign-title"><%= @campaign.title %></span>
					</div>
					<div class="card-content">
	          <p><%= @campaign.description %></p>
	        </div>
	        <div class="card-action center-align">
						<%= @campaign.call_to_action %><br>
						<a class="btn waves-effect waves-light grey add-content darken-4" href="#">Enter Here</a>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col l12">
				<label>Add A Featured Image/Video</label>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="file-field input-field col s12">
			<div class="btn grey darken-4">
				<span>IMAGE</span>
				<%= f.file_field :feature %>
			</div>
			<div class="file-path-wrapper">
        <input class="file-path validate" type="text">
			</div>
			<%= f.hidden_field :feature_cache %>
		</div>
		<div class="file-field input-field col s12">
			<div class="btn grey darken-4">
				<span>VIDEO</span>
				<%= f.file_field :video %>
			</div>
			<div class="file-path-wrapper">
	      <input class="file-path validate" type="text">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="file-field col s12">
			<label for="campaign_title">Gradient Background / Text Preview</label>
			<div class="gradient-preview valign-wrapper">
				<h2 class="valign colored-text">Text Example</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="file-field col s4">
			<label for="campaign_title">Background Gradient Top Color</label>
		  <%= f.input :top_color, as: :minicolors, label: false %>
		</div>
		<div class="file-field col s4">
			<label for="campaign_title">Background Gradient Bottom Color</label>
		  <%= f.input :bottom_color, as: :minicolors, label: false %>
		</div>
		<div class="file-field col s4">
			<label for="campaign_title">Campaign Text Color</label>
		  <%= f.input :text_color, as: :minicolors, label: false %>
		</div>
	</div>
	<div class="row">
		<label>Choose a Text Shadow Level</label>
		<%= f.input :text_shadow, :label => false, :collection => [['none', 'None'], ['text-z-depth-1', 'Depth 1'], ['text-z-depth-2', 'Depth 2'], ['text-z-depth-3', 'Depth 3'], ['text-z-depth-4', 'Depth 4'], ['text-z-depth-5', 'Depth 5']], :label_method => :last, :value_method => :first, :as => :materialize_radio_buttons, :checked => @campaign.text_shadow  %>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= f.input :analytics, label: false, :class => "validate", :wrapper => false %>
			<label for="analytics">Enter a Google Analytics ID</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
		  <div class="switch">
		    <label>
		      Email Notifications OFF
    			<%= f.check_box :email_notifications, label: false, :class => "validate", :wrapper => false %>
		      <span class="lever"></span>
		      Email Notifications ON
		    </label>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= f.input :email_recipients, label: false, :class => "validate", :wrapper => false %>
			<label for="analytics">Enter emails for notifications</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
		  <div class="switch">
		    <label>
		      Entries Hidden
    			<%= f.check_box :entries_visible, label: false, :class => "validate", :wrapper => false %>
		      <span class="lever"></span>
		      Entries Visible
		    </label>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
		  <div class="switch">
		    <label>
		      Hidden
    			<%= f.check_box :live, label: false, :class => "validate", :wrapper => false %>
		      <span class="lever"></span>
		      LIVE
		    </label>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<%= button_tag(type: 'submit', class: 'btn grey darken-4 waves-effect waves-light') do %>
				<i class="material-icons left">add</i>Publish
			<% end %>
		</div>
	</div>
<% end %>
