<% @posts.each do |post| %>
	<% if post.image_url? %>
		<div class="col l3">
			<div class="card hoverable">
				<div class="card-image">
					<a class="modal-trigger" href="<%= "#post-#{post.id}" %>">
						<img src="<%= post.image_url.thumb.url %>">
					</a>
				</div>
			</div>
		</div>
	<% elsif post.video_url? %>
		<div class="col l3">
			<div class="card hoverable">
				<div class="card-image vid-card">
					<a class="modal-trigger" href="<%= "#post-#{post.id}" %>">
						<img class="vid-thumb" src="<%= post.video_url.thumb.url %>">
					</a>
				</div>
			</div>
		</div>
	<% end %>
<% end %>