<main>
	<h1>Campaigns#index</h1>
	<%= render partial: 'campaign' %>
	<%= link_to new_campaign_path, class: 'btn-floating btn-large waves-effect waves-light red darken-4' do %>
		<i class="material-icons">add</i>
	<% end %>
</main>