<main>
	<div class="container">
		<div class="col l12">
			<h1>Campaigns</h1>
		</div>		
		<div class="row">
			<%= render partial: 'campaign' %>
			<div class="col l12 m12 s12 xs 12 right-align">
				<%= link_to new_campaign_path, class: 'btn-floating btn-large waves-effect waves-light grey darken-4 tooltipped', :data => { :position => "bottom", :delay => "50", :tooltip => "Create a new Campaign" } do %>
					<i class="material-icons">add</i>
				<% end %>				
			</div>
		</div>
	</div>
</main>