<%= render 'campaignanalytics' %>
<%= render 'customcampaignstyles' %>
<main>
	<div class="container">
		<div class="row">
			<div class="col l3 offset-l1 card-panel hoverable center-align back-link">
				<% if user_admin(@user) %>
						<%= link_to campaigns_path do %>
							<p><i class="fa fa-arrow-left"></i> Back to Campaigns</p>
						<% end %>
				<% end %>
			</div>
			<div class="col l10 offset-l1 m12 s12">
				<div id="campaign-feature" class="card large hoverable">
					<% if @campaign.feature? %>
					<div id="feature" class="card-image center-card-image">
						<%= image_tag( @campaign.feature.url ) %>
					<% elsif @campaign.video? %>
					<div id="feature" class="card-image">
						<%= videojs_rails sources: { mp4: "#{@campaign.video.url}"}, setup: "{}", controls: true, width:"auto", height:"100%", poster: "#{@campaign.video.poster.url}", class: 'vjs-big-play-centered primary-player' %>
					<% end %>
						<span class="card-title campaign-title"><%= @campaign.title %></span>
					</div>
					<div class="card-content">
	          <p><%= @campaign.description %></p>
	        </div>
	        <div class="card-action center-align">
						<%= @campaign.call_to_action %><br>
						<a class="btn waves-effect waves-light grey add-content darken-4 modal-trigger" href="#entryform">Enter Here</a>
					</div>
				</div>
			</div>
		</div>
		<% if user_admin(@user) %>
			<!-- BEGIN ADMIN PANEL -->
				<%= render 'admintools' %>
			<!-- END ADMIN PANEL -->
		<% end %>
		<% if @campaign.entries_visible || user_admin(@user) %>
		<div class="row">
			<div class="col l10 offset-l1">
				<% if user_admin(@user) && !@campaign.live %>
					<h5 class="colored-text">Recent Entries (NOT ACCEPTING ENTRIES!)</h5>
				<% elsif user_admin(@user) && @campaign.live %>
					<h5 class="colored-text">Recent Entries (LIVE!)</h5>
				<% else %>
					<h5 class="colored-text">Recent Entries</h5>
				<% end %>
			</div>
			<div class="col l10 offset-l1">
				<div class = "sort_paginate_ajax">
					<%= render 'campaigns/posts' %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
<!-- 	<div class="parallax-container">
		<div class="parallax">
			<img src="https://s3.amazonaws.com/rdugc/assets/purpleabstract.jpg">
		</div>
	</div> -->

</main>
<%= render 'campaigns/entryform' %>
<div class="gradient"></div>
