#admin-tools{
	form{
		padding: 0;
	}
}

.search-btn{
	margin-bottom: 14px;
    margin-top: 0;
}

.admin-btn{
  .btn{
    width: 100% !important;
    margin-bottom: 10%;
  }
}

.inline-form{
  display: inline-block;
}
