.start-campaign, .stop-campaign{
  display: inline;
}

.add-content{
	color: white !important;
}
// parallax
.parallax-container {
    position: absolute;
    overflow: hidden;
    height: 507px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -99999998;
    // shadow
	&:after{
		content: '';
		position: absolute;
	    bottom: 0;
		height: 200px;
		width: 100%;
	    -moz-box-shadow: inset 0 -12px 40px -10px rgba(0,0,0,0.4);
	    -webkit-box-shadow: inset 0 -12px 40px -10px rgba(0,0,0,0.4);
	    box-shadow: inset 0 -12px 40px -10px rgba(0,0,0,0.4);
	}
    img{
		z-index: -99999999;
    }
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
// Campaign title
.campaign-title{
	top: 0;
	bottom: auto !important;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
    font-size: 36px !important;
}
// Feature
#campaign-feature{
	margin-top: 7%;
}
// Modal Video Queries
.feed-vid{
	width: 100% !important;
	height: auto !important;
}
@media(min-width: 640px){
	.modal-video{
		min-height: 480px;
	}
}
@media(max-width: 639px){
	.modal-video{
		min-height: 320px;
	    font-size: 8px;
	}
}
// pagination
.pagination{
	a{
		color: #ab47bc;
	}
}
// Big play button
.vjs-big-play-button{
	background-color: transparent !important;
	box-shadow: none !important;
}
// Fullscreen disable in modals
.modal-content .vjs-fullscreen-control{
	visibility: hidden;
	width: 30px;
}
// Hide tabs on wizard
ul[role="tablist"] {
    display: none;
}

// preloader
.card-image{
  text-align: center;
  .preloader-wrapper{    
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.spacer{
  top: 0;
}


// feature card image, Edit card
.center-card-image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex; /* add */
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */  
}

#feature video{
  width: 100% !important;
  height: auto !important;
  max-height: 720px;
}

.card.large{
  height: auto;
}

@media (max-width: 480px){
    .parallax-container{
      height: 320px;
    }
}

// edit campaign

.secondary-content.edit{
  right: 55px !important;
}

.secondary-content{
  .fa-stack-2x{
    @extend .grey-text;
    @extend .text-darken-4;
  }
}

li.collection-item.avatar{
  a{
    @extend .grey-text;
    @extend .text-darken-4;
  }
  p{
    max-width: 75%;
    @extend .grey-text;
    @extend .text-darken-4;
  }
}

//copy link
.copy{
  right: 94px !important;
  cursor: pointer;
}