.dead-campaign{
 border: 3px #B71C1C solid;
}
.live-campaign{
 border: 3px #1B5E20 solid;
}
.start-campaign, .stop-campaign{
  display: inline;
}

.add-content{
	color: white !important;
}
// parallax
.parallax-container {
    position: absolute;
    overflow: hidden;
    height: 507px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -99999998;
    // shadow
	&:after{
		content: '';
		position: absolute;
	    bottom: 0;
		height: 200px;
		width: 100%;
	    -moz-box-shadow: inset 0 -12px 40px -10px rgba(0,0,0,0.4);
	    -webkit-box-shadow: inset 0 -12px 40px -10px rgba(0,0,0,0.4);
	    box-shadow: inset 0 -12px 40px -10px rgba(0,0,0,0.4);
	}
  img{
  	z-index: -99999999;
  }
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
// Campaign title
.campaign-title{
	top: 0;
	bottom: auto !important;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
    font-size: 36px !important;
}
// Feature
#campaign-feature{
	margin-top: 7%;
}
// Modal Video Queries
.feed-vid{
	width: 100% !important;
	height: auto !important;
}
@media(min-width: 640px){
	.modal-video{
		min-height: 480px;
	}
}
@media(max-width: 639px){
	.modal-video{
		min-height: 320px;
	    font-size: 8px;
	}
}
// pagination
.pagination{
	a{
		color: #ab47bc;
	}
}
// Big play button
.vjs-big-play-button{
	background-color: transparent !important;
	box-shadow: none !important;
}
// Fullscreen disable in modals
.modal-content .vjs-fullscreen-control{
	visibility: hidden;
	width: 30px;
}
// Hide tabs on wizard
ul[role="tablist"] {
    display: none;
}

// preloader
.card-image{
  text-align: center;
  .preloader-wrapper{
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.spacer{
  top: 0;
}


// feature card image, Edit card
.center-card-image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex; /* add */
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
}

#feature video{
  width: 100% !important;
  height: auto !important;
  max-height: 720px;
}

.card.large{
  height: auto;
}

@media (max-width: 480px){
    .parallax-container{
      height: 320px;
    }
}

// edit campaign

.secondary-content.edit{
  right: 55px !important;
}

.secondary-content{
  .fa-stack-2x{
    @extend .grey-text;
    @extend .text-darken-4;
  }
}

li.collection-item.avatar{
  a{
    @extend .grey-text;
    @extend .text-darken-4;
  }
  p{
    max-width: 75%;
    @extend .grey-text;
    @extend .text-darken-4;
  }
}

//copy link
.copy{
  right: 94px !important;
  cursor: pointer;
}

.gradient-preview{
  // height: 3rem;
  min-height: 300px;
  background: #ccc;
  width: 100%;
  h2{
    margin: 0 auto;
  }
}

.back-link{
  margin-top: 3%;
  a{
    color: black;
  }
}

// radio buttons inline
.materialize_radio_buttons{
  span{
    display: inline-block;
  }
  label{
    padding: 0 35px;
  }
}

// disney styles

.page-footer{
  margin-top: 0 !important;
}

.new-campaign, .campaign-index{
  color: $input-text-and-label;
  label{
    color: $input-text-and-label;
  }
  input{
    border-bottom: 1px solid $input-text-and-label;
  }
  /* label color */
  .input-field label {
    color: $input-text-and-label;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $input-text-and-label;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $input-text-and-label;
    box-shadow: 0 1px 0 0 $input-text-and-label;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid $input-text-and-label;
    box-shadow: 0 1px 0 0 $input-text-and-label;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid $input-text-and-label;
    box-shadow: 0 1px 0 0 $input-text-and-label;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: $input-text-and-label;
  }
  [type="radio"]:checked + label:after, [type="radio"] + label:after {
    border-radius: 50%;
    border: 2px solid $input-text-and-label;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  [type="radio"]:checked + label:after{
    background-color: $input-text-and-label;
  }
  .switch label input[type=checkbox]:checked + .lever {
      background-color: $input-text-and-label;
  }
  .switch label input[type=checkbox]:checked + .lever:after {
      background-color: $input-text-and-label;
  }
  #campaign-feature{
    color: black;
  }
}

.new-campaign{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#369a0f+0,82c03a+100 */
  background: #369a0f; /* Old browsers */
  background: -moz-linear-gradient(top,  #369a0f 0%, #82c03a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #369a0f 0%,#82c03a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #369a0f 0%,#82c03a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369a0f', endColorstr='#82c03a',GradientType=0 ); /* IE6-9 */
}

.campaign-index{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#038cbd+0,39bdd9+100 */
  background: #038cbd; /* Old browsers */
  background: -moz-linear-gradient(top,  #038cbd 0%, #39bdd9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #038cbd 0%,#39bdd9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #038cbd 0%,#39bdd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038cbd', endColorstr='#39bdd9',GradientType=0 ); /* IE6-9 */
}

