#infinite-scrolling,
#selected_posts,
#selected_posts_for_review,
#approved_posts{
  display: none;
}

#new-post-collection{
  display: none;
}

#content_review_main{
  .pagination{
    // display: none;
  }
}

.full-w{
  width: 100%;
}
