.user-info{
  a{
    display: inline;
    padding: 0;
    text-decoration: underline;
  }
}

.landing{
  color: $input-text-and-label;
  label{
    color: $input-text-and-label;
  }
  input{
    border-bottom: 1px solid $input-text-and-label;
  }
  /* label color */
  .input-field label {
    color: $input-text-and-label;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $input-text-and-label;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $input-text-and-label;
    box-shadow: 0 1px 0 0 $input-text-and-label;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid $input-text-and-label;
    box-shadow: 0 1px 0 0 $input-text-and-label;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid $input-text-and-label;
    box-shadow: 0 1px 0 0 $input-text-and-label;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: $input-text-and-label;
  }
  [type="radio"]:checked + label:after, [type="radio"] + label:after {
    border-radius: 50%;
    border: 2px solid $input-text-and-label;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  [type="radio"]:checked + label:after{
    background-color: $input-text-and-label;
  }
  .switch label input[type=checkbox]:checked + .lever {
      background-color: $input-text-and-label;
  }
  .switch label input[type=checkbox]:checked + .lever:after {
      background-color: $input-text-and-label;
  }
}

.landing{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b0b0d+0,e12d22+100 */
  background: #5b0b0d; /* Old browsers */
  background: -moz-linear-gradient(top,  #5b0b0d 0%, #e12d22 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #5b0b0d 0%,#e12d22 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #5b0b0d 0%,#e12d22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b0b0d', endColorstr='#e12d22',GradientType=0 ); /* IE6-9 */
}

.rdlogo{
  padding-top: 13px;
}

.homepageh1{
  display: inline;
}
