<nav>
  <div class="container">
    <div class="nav-wrapper">
      <span class="brand-logo"><img class="rdlogo" src="https://s3.amazonaws.com/rdugc/assets/rdlogo.png"></span>
    </div>
  </div>
</nav>
