<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Radio Disney</h5>
        <p class="grey-text text-lighten-4">All rights reserved. This website or any portion thereof may not be reproduced or used in any manner whatsoever without the express written permission of the owner.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/radiodisney/"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/radiodisney"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/radiodisney/"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/user/radiodisney"><i class="fa fa-youtube-square"></i> Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Radio Disney
    <a class="grey-text text-lighten-4 right" href="http://www.trendsettermarketing.net">Powered by TSM</a>
    </div>
  </div>
</footer>
